=javascript_include_tag "derby"
=Gon::Base.render_data({})

#derby
  #header
    %h1="WFTDA Skater Number Statistics"
    %p="As of late 2014"
  .chart-title="Length of Skater Number by Character Count"
  .chart#chart-characters
  %hr
  .chart-title="Length of Skater Number by Syllable Count"
  .chart#chart-syllables
  %hr
  .chart-title="Number of Letters in Skater Number"
  .chart#chart-letters
