#charts
  %h1#header"WFTDA Skater Number Statistics"
  .chart-title="Length of Skater Number by Character Count"
  .chart#chart-characters
  %hr
  .chart-title="Length of Skater Number by Syllable Count"
  .chart#chart-syllables
  %hr
  .chart-title="Number of Letters in Skater Number"
  .chart#chart-letters
