#content
  #face
    -#%img src="images/face.png" alt="headshot"
    -#Photo © Paul Erhardt
  #about
    #name
      Zack Youngren
      #info
        Zack currently works as a software developer at Constant
        Contact while he waits for an appropriate time to finish his degree
        in Computer Science at Northeastern University. </br> </br> In his
        spare time he officiates roller derby around New England and
        elsewhere under the name You++.
      #contact
        %a{href:"mailto:zack@youngren.io"} zack@youngren.io
        |
        %a{href:"http://www.linkedin.com/pub/zack-youngren/48/69a/b9b"} LinkedIn
