html, body {
  font-family : "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
  height: 100%;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
  margin-bottom:-3px;
  border: 0;
}

a {
  text-decoration:none;
  color: blue;
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -195px 0 0 -107px;
    width:214px;
    border: 2px solid black;
    background-color: white;
}

#face {
    text-align: right;
    line-height:.9em;
    color: grey;
    font-size: .5em;
    margin: 2px 2px 2px 2px;
    width: 210px;
    height: 210px;
    padding-bottom: 10px;
}

#name {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

#info {
    line-height: 1.3em;
    font-size: .75em;
    padding: 13px 5px 15px 5px;
    font-weight: bold;
    text-align: center;
}

#contact {
    line-height: 1.3em;
    font-size: .6em;
    padding: 0px 0px 3px 0px;
    font-weight: bold;
    text-align: center;
}
